*,
*:before,
*:after{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(backgrond/background.jpg);
    background-repeat: no-repeat;
    background-origin:content-box;
    background-size:cover;
    background-color: #E6EAED;
    background-attachment: scroll;
    background-position-y: cover;
    background-position-x: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}
img{
    max-width: 100%;
    width: 100%;
    border-radius: 15px;
    border-color: var(--blue);
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    flex: 1;
}
button{
    text-align: center;
    color: white;
    background-color: var(--gray);
    padding: .8rem 2.5rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: var(--smooth);

}
button:hover{
    background-color: var(--blue);
    transition: var(--smooth);
}
:root{
    --gray: #E6EAED;
    --blue: #c8f2ff;
    --smooth:all .3s ease-in;
    --green: rgb(0, 255, 0);
}

/* header */
header{
    position: absolute;
    width: 100%;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}
/* logo */
.logo{
    border-radius: 30%;
    width: 80px;
    height: 80px;
    
}
.narbar__setup{
        border-color: aqua;
        border-radius: 30%;
    
}

/* menu */
.navbar__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 50%;
    background-color: rgb(221, 221, 221);
    z-index: 5;
    transform: var(--smooth);
    transform: translatex(-100%);
    opacity: 0;
    text-align: center;
}
.navbar__links.navbar__open{
        transform: translateX(0);
        opacity: 1;
        transition: var(--smooth);

    }

.navbar__links{
    list-style: none;
    margin: 55px;
}
.navbar__link a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 300;
    transition: var(--smooth);
}
.navbar__link a:hover{
    color: black;
    transition:var(--smooth) ;

}
.navbar__btn{
    font-size: 1rem;
    background-color: red;
    margin-left: 45px;
}
/* icon */
.navbar__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}
.navbar__icon{
    width:45px;
    height:6px;
    background-color: black;
    border-radius: 5px;
    transition: var(--smooth);
    position: relative;
}
.navbar__icon:before,
.navbar__icon:after{
    content: '';
    position: absolute;
    width:45px;
    height:6px;
    background-color: black;
    border-radius: 5px;
    transition: var(--smooth);
}
.navbar__icon::before{
    transform: translateY(-12px);

}
.navbar__icon::after{
    transform: translateY(12px);
}
/* button animation */
/* 검색 buttom */
.search{
    max-width: 15000px;
    max-height: 200px;
    width: 100%;
    height: 100%;

}
.input1{
    font-size: larger;
        border-radius: 30px;
        width: 59%;
        height:43px;
        margin-left: 25%;
        margin-right: 25%;
    
}
.input2{
    border-radius: 30px;
    border: solid;
    border-color: greenyellow;
    width: 60px;
    height: 60px;
    margin-left: 2%;
}
.input3{
    border-radius: 80px;
    border: 2px;
    margin-top: auto;
    margin-left: 4.5%;
    size: 100px;
    max-width:4%;
    width: 4%;
    background-size: cover;
    object-fit: cover;
}
.style{
    padding: 10px;
}
/* content */
.aside1{
    border-radius: 20px;
    min-width: 600px;
    max-width: 600px;
    height: 400px;
    display: flex;
    margin-top: 20px;
    border: solid;
    border-color: rgb(27, 197, 64);
    overflow: hidden;
}
.aside2{
    border-radius: 20px;
    min-width: 600px;
    max-width: 600px;
    height: 400px;
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
    border: solid;
    border-color: rgb(85, 155, 28);
}
/* footer */
/* .navbar__footer{
    border: none;
    background-color: black;
    background-position-x: 100%;
    background-position-y: 100%;
} */
#support-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#support-panel {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}


.iframe-container {
    
    
}

.iframe {
    width: 100%;
    height: 100%;
    border: 10%;
}
