body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.icon-container {
    position: relative;
}

.icon {
    position: relative;
    display: inline-block;
}

.icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px; /* Khoảng cách từ icon đến menu */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}
